
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 32% 98%;    /* #F5F7FA */
    --foreground: 239 100% 15%;   /* navy-ish */

    --navy: 233 48% 20%;          /* #1C1F4C */
    --lime: 89 100% 67%;          /* #A7FF57 */
    --primary: 233 48% 20%;       /* Azul-marinho */
    --primary-foreground: 0 0% 100%;
    --accent: 89 100% 67%;        /* Verde-lima */
    --accent-foreground: 233 48% 20%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --radius: 0.7rem;
  }
  body {
    @apply bg-[color:var(--background)] text-[color:var(--foreground)] font-inter antialiased;
  }
}
